/** déclarations de variables **************/

:root {
    /* taille des polices ******************/
    --fontsizePhotographer_hight: 4em;
    --fontsizeTitleModal: 3.4em;
    --fontSizePhotographer_small: 2.25em;
    --fontSizeInputModal: 1.9em;
    --fontSizeAddress_hight: 1.5em;
    --fontSizeAddress_small: 0.813em;
    --fontSizeSlogan_hight: 1.125em;
    --fontSizeSlogan_small: 0.625em;
    --fontSizePrice_small: 0.563em;
    --fontSizeButton: 1.25em;
    --fontSizeButtonModal: 0.951em;
    /* couleurs *****************************/
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorRed: #901C1C;
    --colorLightRed: #D3573C;
    --colorGrey: #525252;
    --colorGreyLight: #757575;
    --colorGreyUltraLight: #FAFAFA;
    --colorGreyBackgroundCard: #C4C4C4;
    --colorBackgroundBox: #DB8876;
    --colorLabelFormModal: #312E2E;
    /* border-radius ************************/
    --borderRadius_5px: 5px;
    --borderRadiusCircle: 50%;
}
/********************************************/

#contact_modal {
    display: none;
}

/** En-tête informations sur le photographe */

.photograph_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorGreyUltraLight);
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
}

.photograph_header article {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.photograph_header article h1 {
    font-size: var(--fontsizePhotographer_hight);
    line-height: 83px;
    margin: 0;
    color: var(--colorLightRed);
}

.photograph_header .info_photograph {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photograph_header article .info_photograph p:first-of-type {
    margin: 0 0 19px 0;
    font-size: var(--fontSizeAddress_hight);
    line-height: 31px;
    font-style: normal;
    color: var(--colorRed);
}

.photograph_header article .info_photograph p {
    margin: 0;
    font-size: var(--fontSizeSlogan_hight);
    line-height: 23px;
    color: var(--colorGrey);
}

.contact_button {
    box-sizing: border-box;
    width: 170px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSizeButton);
    line-height: 26px;
    font-weight: bold;
    color: var(--colorWhite);
    border: none;
    background-color: var(--colorRed);
    border-radius: var(--borderRadius_5px);
    cursor: pointer;
}

.photograph_header img {
    width: 200px;
    height: 200px;
    border-radius: var(--borderRadiusCircle);
    object-fit: cover;
}

/** menu de tri des médias ******************/

.sort_menu {
    margin: 9px 0 23px 97px;
    height: 69px;
    display: flex;
    align-items:flex-start;
}

.sort_menu label {
    margin: 11px 25px 0 0;
    width: 74px;
    font-size: var(--fontSizeSlogan_hight);
    font-weight: 700;
    line-height: 23px;
    cursor: pointer;
}

.wrapper_select {
    width: 170px;
    position: relative;
}

.wrapper_select .dropdown {
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 18px;
    right: 10px;
    border-radius: 0px;
    cursor: pointer;
}

.wrapper_select.dropdown_open .dropdown {
    transform: rotate(180deg);
}

.wrapper_select select {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 69px;
    overflow-y: hidden;
    background-color: var(--colorRed);
    border: none;
    border-radius: var(--borderRadius_5px);
    padding: 0px 10px;
    font-family: inherit;
    font-size: var(--fontSizeSlogan_hight);
    font-weight: 700;
}

.wrapper_select.dropdown_open select {
    height: 170px;
    padding-top: 9px;
}

.wrapper_select select option {
    box-sizing: border-box;
    padding: 23px 10px 22px;
    height: 69px;
    background-color: transparent;
    border-bottom: solid 1px transparent;
    color: var(--colorWhite);
}

.wrapper_select.dropdown_open select option {
    padding: 14px 10px;
    height: 51px;
    border-color: var(--colorWhite);
}

.wrapper_select.dropdown_open select option:nth-child(3) {
    border-bottom: transparent;
}

/** conteneur des médias ********************/

/* conteneur des cartes média ***************/
.media_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 95px;
    row-gap: 30px;
    margin: 23px 100px 0;
}

/* mise en forme des cartes des médias ******/
.wrapper_mediacard button {
    background-color: var(--colorGreyBackgroundCard);
    border-radius: var(--borderRadius_5px);
    padding: 0;
    border: none;
    width: 350px;
    height: 300px;
    cursor: pointer;
}
.wrapper_mediacard button img, .wrapper_mediacard button video{
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius_5px);
    object-fit: cover;
}

.wrapper_mediacard .wrapper_mediainfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: var(--fontSizeAddress_hight);
    font-weight: 400;
    line-height: 31px;
    color: var(--colorRed);
}

.wrapper_mediainfo p{
    margin: 0 10.38px 0 0;
}

.wrapper_mediainfo span{
    display: flex;
    font-weight: 500;
}

.wrapper_mediainfo span img{
    margin: 3px 0 0 4.62px;
    align-self: flex-start;
}

/** nombre de likes et coût par jour */

aside {
    box-sizing: border-box;
    position: fixed;
    width: 376px;
    height: 89px;
    right: 36px;
    bottom: -21px;
    padding: 21px 34px 0 31px;
    display: flex;
    justify-content: space-between;
    background-color: var(--colorBackgroundBox);
    border-radius: var(--borderRadius_5px);
    font-weight: 500;
    font-size: var(--fontSizeAddress_hight);
    line-height: 31px;
}

aside .number_likes {
    height: 31px;
    display: flex;
}

aside .number_likes img {
    margin-left: 4.62px;
    align-self: center;
}

aside .cost_day {
    height: 31px;
}


/** fenêtre modale contenant le formulaire de contact */

/* bloque le scrolling de la page */
.noscroll {
    overflow: hidden;
}

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4);
    overflow-y: auto;
}

#modal .modal_close {
    margin-top: 22px;
    cursor: pointer;
}

#contact_modal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--borderRadius_5px);
    background-color: var(--colorBackgroundBox);
    width: 669px;
    padding: 13px 35px 32px;
    margin-top: 58px;
}

#contact_modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    height: auto;
}

#contact_modal header #modal_title {
    height: 132px;
    margin: 0;
    font-size: var(--fontsizeTitleModal);
    font-weight: normal;
    line-height: 70px;
}

/** formulaire de contact  */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form input, form textarea {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: var(--borderRadius_5px);
}

form label, form input, form textarea {
    font-size: var(--fontSizeInputModal);
    line-height: 40px;
}

form label {
    color: var(--colorLabelFormModal);
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 22px;
}

form input {
    height: 58px;
}

#contact_email{
    margin-bottom: 9px;
}

form textarea {
    height: 144px;
    margin-top: 4px;
}

#contact_modal .contact_button {
    font-size: var(--fontSizeButtonModal);
    line-height: 19.5px;
    width: 170px;
    height: 58px;
}


/** lightbox  */

#lightbox_modal {
    display: flex;
    background-color: var(--colorWhite);
    padding:62px 195px 19px;
    z-index: 3;
}

#lightbox_modal .ctrl_left, #lightbox_modal .ctrl_right {
    cursor: pointer;
}

#lightbox_modal .ctrl_left {
    align-self: center;
    order: -1;
}

#lightbox_modal .lightbox_body {
    display: flex;
    flex-direction: column;

}

#lightbox_modal .lightbox_media {
    width: 1050px;
    height: 900px;
    margin-bottom: 12px;
    border-radius: var(--borderRadius_5px);
    background-color: var(--colorGreyBackgroundCard);
}

#lightbox_modal #modal_title {
    align-self: flex-start;
    color: var(--colorRed);
    font-size: var(--fontSizeAddress_hight);
    line-height: 31px;
}

#lightbox_modal .wrapper_ctrl_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

#lightbox_modal .ctrl_right {
    margin-top: 369px;
}

#lightbox_modal .modal_close {
    width: 42px;
    margin-top: 15px;
}

